
@{
    var account = CookieHelper.CookieStringToAccount(User.Identity.Name);
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">

            <div class="pull-left image">
                <img src="@account.Photo" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@account.FullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="~/Supplier/Index" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="employeeId" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat" value="@account.FullName">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="active">
                <a href="~/Home/Index">
                    <i class="fa fa-home"></i> <span>Trang Chủ</span>
                </a>
            </li>

            <li>
                <a href="~/Product/Index">
                    <i class="fa fa-th-list"> </i> <span>Quản Lý Mặt Hàng</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>Quản Lý Thông Tin</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="~/Categori/Index"><i class="fa fa-list"></i> Loại Hàng</a></li>
                    <li><a href="~/Supplier/Index"><i class="fa fa-list"></i> Nhà cung cấp </a></li>
                    <li><a href="~/Shipper/Index"><i class="fa fa-list"></i> Nhà vận chuyển </a></li>
                    <li><a href="~/Customer/Index"><i class="fa fa-list"></i> Khách hàng </a></li>
                    <li><a href="~/Employee/Index"><i class="fa fa-list"></i> Nhân viên </a></li>
                </ul>
            </li>

            <li class="header">Quản lý hàng hóa</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-user"></i> Tạo đơn hàng </a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-user"></i> xử lý đơn hàng</a></li>
                    <li><a href="~/Order/Index"><i class="fa fa-user"></i> Tra cứu bán hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Thống kê - Báo cáo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                </ul>
            </li>

            <li><a href="https://adminlte.io/docs"><i class="fa fa-user"></i> <span>Doanh thu bán hàng</span></a></li>
            s
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
